body {
font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 10px;
}
.gameboard {
    border-style: solid;
    border-color: black;
    border-width: 0px;
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.gameboard-overlay {
  display: inline-block;
  background-color: #ccc;
  width: 276px;
  height: 276px;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 12px;
}

.full-screen-modal {
  background-color: rgba(204, 204, 204, 0.6);
  display: none;
  height: 60%;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 60%;
}

.game-settings {
  width: 300px;
  height: 125px;
  margin: 0 auto;
  position: relative;
}

.game-settings-overlay {
  background-color: #ccc;
  display: none;
  width: 300px;
  height: 125px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.disabled {
  opacity: 0.2;
}

.scoreboard {
  height: 50px;
  width: 300px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.scoreboard-entry {
  display: inline-block;
}


.scoreboard-entry i {
font-size: 36px;
}

.scoreboard-entry .fa-close {
  color: red;
}

.scoreboard-entry .fa-genderless {
  color: green;
  padding-left: 10px;
}

.scoreboard-score {
  display: inline-block;
  margin-left: 0;
  font-size: 20px;
  font-family: monospace;
  vertical-align: super;
}
