.scoreboard {
  height: 50px;
  width: 300px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.scoreboard-entry {
  display: inline-block;
}


.scoreboard-entry i {
font-size: 36px;
}

.scoreboard-entry .fa-close {
  color: red;
}

.scoreboard-entry .fa-genderless {
  color: green;
  padding-left: 10px;
}

.scoreboard-score {
  display: inline-block;
  margin-left: 0;
  font-size: 20px;
  font-family: monospace;
  vertical-align: super;
}
